/* about us page */

/* about us intro section */
.about-us-intro {
    margin: 44px auto 63px;
    max-width: 795px;
    padding: 0 45px;
}

.about-us-intro h1 {
    font-family: FreightDispProLight-Italic;
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    line-height: 56.16px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* responsiveness */
@media screen and (min-width: 680px) {

    /* about us intro section */
    .about-us-intro {
        margin: 46px auto 174px;
    }

    .about-us-intro h1 {
        font-size: 65px;
        line-height: 81.12px;
    }
}
