/* header section */
#header {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 54.05%, rgba(0, 0, 0, 0.1944) 67.36%, rgba(0, 0, 0, 0.434374) 72.09%, rgba(0, 0, 0, 0.648) 76.29%, rgba(0, 0, 0, 0.691993) 82.73%, rgba(0, 0, 0, 0.726965) 87.85%, rgba(0, 0, 0, 0.767534) 93.79%, rgba(0, 0, 0, 0.81) 100%), url(../assets/images/37\ Waterside\ Lane\ -\ pKF93fhtHXOBc2rxAhew\ 1.png) no-repeat;
    background-size: cover;
}

.header {
    position: relative;
    z-index: 2;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(140px);
    z-index: -1;
}

.header-container {
    max-width: 1280px;
    padding: 26px 29px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container__logo img {
    width: 70px;
}

.header-container__nav {
    position: absolute;
    width: 100%;
    left: -45rem;
    top: 100px;
    padding: 100px 29px 10rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(140px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.header-container__nav--links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 718px;
    width: 169px;
    margin: 0 auto;
    gap: 20px;
}

.header-container__nav a {
    /* font-family: Product Sans; */
    font-size: 30px;
    line-height: 1.5;
    font-weight: 300;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--black);
}

.header-container__nav .active-link {
    color: #BB9B4E;
    font-weight: 500;
}

.top-positioning {
    left: 0;
}

#menu-btn {
    border: none;
    background: transparent;
    outline: none;
    width: 45px;
    height: 45px;
}


/* hero section */
.hero-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 183px 29px 27px;
}

.hero-container__text-container {
    max-width: 993px;
}

.hero-container__text-container h1 {
    font-family: 'FreightDispProMedium-Italic';
    font-size: 45px;
    font-style: italic;
    font-weight: 400;
    line-height: 56.11px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
}

.hero-container__text-container h1 span {
    font-family: 'FreightDispProLight-Italic';
    line-height: 56.16px;
    color: var(--primary-yellow);
}

.hero-container__text-container p {
    font-family: 'Product Sans Light';
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
}

/* intro container section */
.intro-container {
    padding: 31px 0 90px;
    display: flex;
    flex-direction: column;
    gap: 47px;
    max-width: 1193px;
    margin: 0 auto;
}

.intro-container__airbnb-image--image {
    padding: 0 19px;
}

.intro-container__airbnb-image--image img {
    height: 314px;
    object-fit: cover;
    border-radius: 15px;
    /* margin-bottom: 15px; */
}

.intro-container__airbnb-image--image p {
    font-family: 'Product Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 15px 0 0;
}

.intro-container__airbnb-image--details {
    display: none;
}

.intro-container__text-container {
    padding: 0 19px;
    max-width: 858px;
    margin: 0 auto;
    text-align: center;
}

.hero-container__text-container--text {
    padding: 0 6px;
}

.intro-container__text-container h2 {
    font-family: 'FreightDispProLight-Italic';
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 49.92px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 0 15px;
}

.intro-container__text-container h2 span {
    font-family: FreightDispProBook-Regular;
    line-height: 49.68px;
}

.intro-container__text-container p {
    margin: 39px auto 36px;
    font-family: 'Product Sans Light';
    font-weight: 300;
    line-height: 29.12px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    max-width: 760px;
}

.intro-container__text-container .learn-more-link-container {
    width: 100%;
    max-width: 378.77px;
    margin: 0 auto;
    /* opacity: 0px; */
    background: url(../assets/images/link-image.png) no-repeat;
    background-size: cover;
    border-radius: 58px;


}

.intro-container__text-container .learn-more-link {
    backdrop-filter: blur(140px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
    width: 100%;
    /* max-width: 378.77px; */
    height: 55px;

    border-radius: 58px;
    font-family: 'Product Sans Light';
    /* font-size: 16px; */
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--black);
    padding: 14px 16.47px 14px 23.77px;
    background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0) 100%);

}

/* why choose our service section */
.why-choose-our-service {
    max-width: 1107px;
    margin: 0 auto;
}

.why-choose-our-service__header {
    max-width: 658px;
    margin: 0 auto;
    padding: 0 36px;
    text-align: center;
}

.why-choose-our-service__header h2 {
    font-family: 'FreightDispProLight-Italic';
    font-size: 35px;
    font-style: italic;
    font-weight: 400;
    line-height: 43.68px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 53px;
}

.why-choose-our-service__header h2 span {
    font-family: 'FreightDispProBook-Regular';
    line-height: 43.47px;
}

.why-choose-our-service__main {
    margin: 0 12px 46px;
    /* background: url(../assets/images/why-choose-our-service-banner.png) no-repeat; */
    background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0) 100%), url(../assets/images/why-choose-our-service-banner.png) no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.why-choose-our-service__banner {
    backdrop-filter: blur(183px);
    border-radius: 15px;
    padding: 14px 16px 25px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.why-choose-our-service__main--points {
    background: var(--white);
    border-radius: 15px;
    padding: 22px 22px;
    max-width: 512px;
    flex-wrap: wrap;
}

.why-choose-our-service__main--points .points-header {
    display: flex;
    gap: 17px;
    align-items: center;
    margin-bottom: 15px;
}


.why-choose-our-service__main--points .points-header h3 {
    font-family: 'Product Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.why-choose-our-service__main--points p {
    font-family: 'Product Sans Light';
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.why-choose-us__standout {
    margin: 0 12px 46px;
    border-radius: 15px;
    background: url(../assets/images/air-bnb-banner.png) no-repeat;
    background-size: cover;
    position: relative;
}

.why-choose-us__standout--banner {
    display: flex;
    border-radius: 15px;
    background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(183px);
    overflow: hidden;
}

.why-choose-us__standout--details {
    padding: 17px 0 72px 23px;
    width: 75%;
    max-width: 569px;
}

.why-choose-us__standout--details-header {
    margin-bottom: 14px;
}

.why-choose-us__standout--details-header h3 {
    font-family: FreightDispProBold-Italic;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 38.13px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
    margin-bottom: 4px;
}

.why-choose-us__standout--details-header h3 span {
    font-family: FreightDispProBook-Regular;
    font-style: normal;
    line-height: 37.26px;
    color: #FF385C;
}

.why-choose-us__standout--details-header p {
    font-family: FreightDispProLight-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.7px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
}

.why-choose-us__standout--details-details p {
    font-family: 'Product Sans Light';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
}

.why-choose-us__standout--details-image {
    position: absolute;
    height: 326px;
    bottom: -0.5rem;
    right: -25rem;
}

/* our designs section */
.our-designs {
    max-width: 1111px;
    margin: 0 auto;
}

.our-designs__header {
    margin: 0 20px 56px;
}

.our-designs__header h2 {
    font-family: FreightDispProLight-Italic;
    font-size: 35px;
    font-style: italic;
    font-weight: 400;
    line-height: 43.68px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 19px;
}

.our-designs__header h2 span {
    font-family: 'FreightDispProMedium-Italic';
    line-height: 43.64px;
}

.our-designs__header p {
    font-family: 'Product Sans Light';
    font-size: 16px;
    font-weight: 300;
    line-height: 29.92px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.our-designs__main {
    margin: 0 22px;
}

/* footer section */
.footer {
    border-top: 1px solid #0000001A;
    text-align: center;
    padding: 50px 19px;
}

.footer p {
    font-family: 'Hanken Grotesk';
    line-height: 28.16px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #00000080;
}

/* responsiveness */
@media screen and (min-width: 680px) {
    #menu-btn {
        display: none;
    }

    .header-container__logo img {
        width: unset;
    }

    .header-container__nav {
        position: static;
        padding: 0;
        background: unset;
        box-shadow: none;
    }

    .header-container__nav--links {
        justify-content: space-between;
        align-items: center;
        width: unset;
        /* padding-top: 13px; */
        gap: 37px;
        flex-direction: row;
        align-items: center;
    }

    .header-container__nav--links a {
        font-size: 1rem;
        font-weight: normal;
    }

    /* intro container section */
    .intro-container {
        flex-direction: column-reverse;
        gap: 73px;
        padding: 52px 86px 148px;
    }

    .intro-container__airbnb-image--image {
        padding: 0;
        margin-bottom: 29px;
    }

    .intro-container__airbnb-image--image img {
        height: unset;
    }

    .intro-container__airbnb-image--image p {
        border-bottom: 1px solid #DCB05A;
        width: fit-content;
        padding: 15px 0;
        font-size: 18px;
        line-height: 27px;
    }

    .intro-container__airbnb-image--details {
        display: block;
    }

    .intro-container__airbnb-image--details p {
        font-family: 'Product Sans Light';
        font-weight: 300;
        line-height: 30.4px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    .intro-container__text-container p {
        margin: 50px auto 52px;
    }

    .intro-container__text-container h2 {
        font-size: 65px;
        line-height: 81.12px;
    }

    /* why choose our service section */
    .why-choose-our-service__header h2 {
        font-size: 65px;
        line-height: 81.12px;
        /* margin-bottom: 52px; */
    }

    .why-choose-our-service__header h2 span {
        font-size: 65px;
        line-height: 80.73px;
    }

    .why-choose-our-service__main {
        margin: 0 12px 100px;
    }

    .why-choose-our-service__banner {
        gap: 18px;
    }

    .why-choose-our-service__main--points p {
        font-size: 16px;
        line-height: 24px;
    }

    .why-choose-us__standout {
        margin: 0 12px 91px;

    }

    .why-choose-us__standout--details {
        padding: 66px 0 66px 62px;

    }

    /* our designs section */
    .our-designs__header h2 {
        font-size: 65px;
        line-height: 81.12px;
        margin-bottom: 45px;
    }
}

@media screen and (min-width: 1024px) {
    .header-container__nav li {
        padding: 4px 23px 4px 23px;
        border-radius: 17px 0px 0px 0px;
        opacity: 0px;
    }

    .hero-container {
        padding: 341px 74px 208px;
    }

    .hero-container__text-container h1 {
        font-size: 65px;
        line-height: 81.05px;
    }

    .hero-container__text-container h1 span {
        line-height: 81.12px;
    }

    .why-choose-us__standout--details {
        width: 100%;
    }

    .why-choose-us__standout--details-image {
        /* right: -20rem; */
        right: 0;
    }


    .why-choose-us__standout--details-header {
        margin-bottom: 19px;
    }

    .why-choose-us__standout--details-header h3 {
        font-size: 45px;
        line-height: 57.2px;
        margin-bottom: 13px;
    }

    .why-choose-us__standout--details-header p {
        font-size: 25px;
        line-height: 30.88px;
    }
}

@media screen and (min-width: 1270px) {
    .header-container {
        padding: 26px 98px;
        gap: 60.34px;
        justify-content: unset;
    }
}
